.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  margin-left: 250px;
}

.not-found-img {
  width: 300px;
}
.dark {
  color: #ffffff;
}

.bg-dark {
  background-color: #0f0f0f;
}
.bg-light {
  background-color: #f9f9f9;
}
