.search-icon {
  width: 50px;
  font-size: 20px;
}

.not-found-container {
  width: 100%;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.not-found-dark-container {
  color: #e2e8f0;
}

.image {
  width: 200px;
}
